#division{
    height: 100px;
    padding: 10px;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

h2{
    display: inline-block
}

#id1 , #id2{
    margin-left: 10%;
}
hr{
    border-color: red;  
}